<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h3>{{ title }}</h3>

  <div>
    <button (click)="doIt()" [disabled]="is_importing">
      Upload
    </button>
  </div>
  <div>
    <p></p>
    <table class="cell-border" style="border-collapse: collapse;margin-left:auto; 
    margin-right:auto;">

      <tr *ngFor="let item of items">
        <td class="cell-border">{{item.name}}</td>
        <td class="cell-border">status</td>
        <td class="cell-border">
          <div *ngIf="item.status === queue_working" class="loader">
            
          </div>
          <div *ngIf="item.status === queue_complete">
            <div style="color:green;">{{item.status}}</div>        
          </div>
          <div *ngIf="item.status != queue_complete && item.status != queue_working">
            <div style="color:red;">{{item.status}}</div>        
          </div>
        </td>
      </tr>
    </table>
    </div>

</div>
<p>
  <a href=""
</p>

<router-outlet></router-outlet>
